DEPLOY_USER='aleksandr_kirbob'
DEPLOY_HOST='84.201.158.190'
DEPLOY_REF='origin/master'
DEPLOY_PATH='/home/aleksandr_kirbob/mesto-apps/mesto-api'
DEPLOY_REPO='https://github.com/BobrikAU/web-plus-pm2-deploy.git'